.resources__logo_link_arzamas {
  background-image: url('../../../../images/logo/resources-arzamas.svg');
}
.resources__logo_link_n1 {
  background-image: url('../../../../images/logo/resources-n1.svg');
}
.resources__logo_link_strelka {
  background-image: url('../../../../images/logo/resources-strelka.svg');
}
.resources__logo_link_polka {
  background-image: url('../../../../images/logo/resources-polka.svg');
}